.boton1{
    display: flex;
    justify-content: center;     
    color: white;   
    background-color: $colorPrincipal;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    margin: 10px;
    @include medidas(100px,45px)
}


    .boton{
        padding: map-get($btn , padding );
        border-radius: map-get($btn , radio );
        color: map-get($btn , color );
        margin: map-get($btn , margen );
        text-decoration: none;
        text-align: center;
        @include medidas(100px,45px)
    }