.principal{
    grid-area: principal;
    .subtitulo{
        text-align: center;
        font-size: $tamanioSubtitulo;
        color: $colorPrincipal;
    }
    .productos{
        text-align: center;
        .nombreProducto{
            font-size: 20px;
            color: $colorPrincipal;
            margin: 15px;
            text-decoration: underline;
            }
        .img-fluid{
                width: 80%;
                transition: all 1s;
                &:hover{
                    transform: translate(10px,10px) scale(1.1);
                }
        }

    }

 }