* {
  margin: 0;
  padding: 0;
}

.boton-principal {
  background-color: #C75100;
}

.boton-secundario {
  background-color: rgb(14, 10, 238);
}

.boton-terciario {
  background-color: rgb(18, 206, 219);
}

.navegador {
  grid-area: navegador;
  display: flex;
  background-color: #C75100;
  justify-content: center;
  align-items: center;
}
.navegador .barraNavegacion {
  display: flex;
  list-style: none;
}
.navegador .barraNavegacion li {
  background-color: #C75100;
}
.navegador .barraNavegacion li a {
  color: white;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
}

.encabezado {
  grid-area: encabezado;
}
.encabezado .contMarca {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.encabezado .contMarca .marca {
  width: auto;
  font-size: 35px;
  color: black;
  font-style: italic;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  background-color: #C75100;
}
.encabezado .titulo {
  text-align: center;
  font-size: 25px;
  background-color: blanchedalmond;
  color: #C75100;
  margin-top: 10px;
}

.principal {
  grid-area: principal;
}
.principal .subtitulo {
  text-align: center;
  font-size: 20px;
  color: #C75100;
}
.principal .productos {
  text-align: center;
}
.principal .productos .nombreProducto {
  font-size: 20px;
  color: #C75100;
  margin: 15px;
  text-decoration: underline;
}
.principal .productos .img-fluid {
  width: 80%;
  transition: all 1s;
}
.principal .productos .img-fluid:hover {
  transform: translate(10px, 10px) scale(1.1);
}

.boton1 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #C75100;
  text-decoration: none;
  border-radius: 5px;
  border: 0;
  margin: 10px;
  width: 100px;
  height: 45px;
}

.boton, .boton-principal, .boton-secundario, .boton-terciario {
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 10px;
  text-decoration: none;
  text-align: center;
  width: 100px;
  height: 45px;
}

.piePagina {
  grid-area: piePagina;
}
.piePagina .copy {
  color: antiquewhite;
  background-color: #C75100;
  text-align: center;
  width: 100%;
}